<app-navbar-pro></app-navbar-pro>



<link href="/src/app/componentsPro/lista-profesores/lista-profesores.component.css" rel="stylesheet" type="text/css">
<div class="container mt-4" >
<div class="card">
  <div class="card-body">
    <span class="h3">
      Profesores
    </span>
    <button type="button" routerLink="/nuevo-profesor">Nuevo</button>
    <table class="table mt-5 table-striped">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Edad</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Andres</td>
          <td>32</td>
          <td>
            <li class="fas fa-edit fa-lg text-info" style="margin-right: 5px;"></li>
            <li class="fas fa-trash-alt fa-lg text-danger"></li>
          </td>
        </tr>
      </tbody>
    </table>

    <ul>
      <li class="text" *ngFor="let item of listaProfesores | async">
        {{item.nombre}}
      </li>
    </ul>
  </div>
</div>
</div>
