<app-navbar></app-navbar>
<div class="container pt-4">
  <div class="row">
    <div class="col col-lg-6 offset-lg-3">
      <div class="card text-center">
        <div class="card-body">
          <h3>Agregar empleado</h3>
          <form action="">
            <div class="row">
              <div class="col">
                <input class="form-control" type="text" placeholder="Nombre">
              </div>
              <div class="col">
                <input class="form-control" type="number" placeholder="Cantidad">
              </div>
            </div>
            <div class="mt-3">
              <button type="text" class="btn btn-primary" style="margin-right: 5px;">Volver</button>
              <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
