<app-navbar></app-navbar>
<div class="container mt-4">
<div class="card">
  <div class="card-body">
    <span class="h3">
      Cosas
    </span>
    <button class="btn btn-dark" routerLink="/nueva-cosa">Nuevo</button>
    <table class="table mt-5 table-striped">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Cantidad</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Pera</td>
          <td>2</td>
          <td>
            <li class="fas fa-edit fa-lg text-info" style="margin-right: 5px;"></li>
            <li class="fas fa-trash-alt fa-lg text-danger"></li>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
